 
    .navbar {  
      background: #eee;  
      height: 80px;  
      display: flex;  
      justify-content: center;  
      align-items: center;  
      font-size: 1.2rem;  
      position: sticky;  
      top: 0;  
      z-index: 999;  
    }  
    .navbar-container{  
      display: flex;  
      justify-content: space-between;  
      height: 80px;  
      z-index: 1;  
      width: 100%;  
      max-width: 1300px;  
      margin: 0 auto;  
      padding: 0 50px;  
    }  
    #logo-navbar{   
    background-image: linear-gradient(to left,#8870ff 0%, #00dffc 100%);  
    background-size: 100%;  
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;  
    -moz-text-fill-color: transparent;  
    display: flex;  
    align-items: center;  
    cursor: pointer;  
    text-decoration: none;  
    font-size: 2rem;  
    }  
    .menu-nav{  
    display: flex;
    align-items: center;  
    list-style: none;  
    }  
    .item-nav{  
      height: 80px;  
    }  
    .links-nav{  
      color: #000;  
      display: flex;  
      align-items: center;  
      justify-content: center;  
      width: 125px;  
      text-decoration: none;  
      height: 100%;  
      transition: all 0.3s ease;  
    }  
    .nav-btn{  
      display: flex;  
      justify-content: center;  
      align-items: center;  
      padding: 0 1rem;  
      width: 100%;  
    }  
    .button{  
      display: flex;  
      justify-content: center;  
      align-items: center;  
      text-decoration: none;  
      padding: 10px 20px;  
      height: 100%;  
      width: 100%;  
      border: none;  
      outline: none;  
      border-radius: 5px;  
      background: linear-gradient(to left,#8870ff 0%, #00dffc 100%);  
      color: #fff;  
      transition: all 0.3s ease;  
    }  
    .links-nav:hover{  
      color: #8870ff;  
      transition: all 0.3s ease;  
    }  
    @media screen and (max-width: 960px) {
      *{  
        box-sizing: border-box;  
        margin: 0;  
        padding: 0;  
        font-family: 'Poppins', sans-serif;  
        scroll-behavior: smooth;  
      }   
      .navbar-container{  
        display: flex;  
        justify-content: space-between;  
        height: 80px;  
        z-index: 1;  
        width: 100%;  
        max-width: 1300px;  
        padding: 0;  
      }  
      .menu-nav{  
        display: grid;  
        grid-template-columns: auto;  
        margin: 0;  
        width: 100%;  
        position: absolute;  
        top: -1000px;  
        opacity: 1;  
        transition: all 0.5s ease;  
        z-index: -1;  
      }  
      .menu-nav.active{  
        background: linear-gradient(to left,#483078 0%, #604878 100%);  
        top: 100%;  
        opacity: 1;  
        transition: all 0.5s ease;  
        z-index: 99;  
        height: 60vh;  
        font-size: 1.6rem;  
      }  
      #logo-navbar{  
        padding-left: 25px;  
      }  
      .nav-click .bar{  
        width: 25px;  
        height: 3px;  
        margin: 5px auto;  
        transition: all 0.3s ease;  
        background: linear-gradient(to right,#8870ff 0%, #00dffc 100%);  
      }  
      .item-nav{  
        width: 100%;  
      }  
      .links-nav{  
        text-align: center;  
        padding: 2rem;  
        width: 100%;  
        display: table;  
        color: #fff;  
      }  
      .nav-btn{  
        padding-bottom: 2rem;  
      }  
      .button{  
        display: flex;  
        justify-content: center;  
        align-items: center;  
        width: 80%;  
        height: 80px;  
        margin: 0;  
      }  
      #menu-mobile{  
        position: absolute;  
        top: 20%;  
        right: 5%;  
        transform: translate(5%,20%);  
      }  
      .nav-click .bar{  
        display: block;  
        cursor: pointer;  
      }  
      #menu-mobile.is-active .bar:nth-child(2){  
      opacity: 0;  
      }  
      #menu-mobile.is-active .bar:nth-child(1){
      transform: translatey(8px) rotate(45deg);
      -webkit-transform: translatey(8px) rotate(45deg);
      -moz-transform: translatey(8px) rotate(45deg);
      -ms-transform: translatey(8px) rotate(45deg);
      -o-transform: translatey(8px) rotate(45deg);
}  
      #menu-mobile.is-active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
      -webkit-transform: translateY(-8px) rotate(-45deg);
      -moz-transform: translateY(-8px) rotate(-45deg);
      -ms-transform: translateY(-8px) rotate(-45deg);
      -o-transform: translateY(-8px) rotate(-45deg);
}  
    }

/*
    ░░┌──┐░░░░░░░░░░┌──┐░░
    ░╔╡▐▐╞╝░░┌──┐░░╔╡▐▐╞╝░
    ░░└╥╥┘░░╚╡▌▌╞╗░░└╥╥┘░░
    ░░░╚╚░░░░└╥╥┘░░░░╚╚░░░
    ░░░░░░░░░░╝╝░░░░░░░░░░Code by Leonardo https://github.com/LeonardoRafaelDev
*/